@import url('https://fonts.cdnfonts.com/css/8bit-wonder');

$pokeball-ui-radius:15vh;
$outline-color: rgba(199, 88, 255, 0.5);
$inner-color: #ffffff;
$background-color: rgba(255, 244, 254, 0.612);
$shadow-color: rgba(248, 195, 255, 0.685);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Roboto','8BIT WONDER', sans-serif;
}

// Mixins

@mixin pokeball_open_on_hover {
    &:hover {
        cursor: pointer;
    }   
}

ul {
    list-style: none;
}


.Landing_Page {
    background-image: url("./assets/wallpaper.jpeg");
    height: 95vh;
    overflow: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Page_Body::-webkit-scrollbar {
    width: 0.5em;
}

.Page_Body {
    position: relative;
    margin: 0px 5%;
    padding: auto;
    border: 2.5px solid $outline-color;
    border-image-slice: 1;
    border-top: 0;
    border-bottom: 0;
    height: 100vh;
    // top: -2vh;
    background-color:$background-color;
    box-shadow: -4px -3px 100vw 15px $shadow-color;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

    .Page_Content {
        position: relative;
        border: 1px solid $outline-color;
        background-color: #ffffff;
        border-radius: 5px;
        height: 55vh; 
        width: 65vw;
        margin: 10% 0;

        .Page_Content_Top {
            position: absolute;
            margin: 5px;
            top: 0;
            left: 0;
            display: flex;
            width: 7vw;
            height: 7vw;
            z-index: 1;
            border-radius: 50%;

        .Inner_Content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            z-index: 1;
            border: 1px solid $outline-color;
            border-radius: 50%;
            background-color: $inner-color;

        }

            &:hover {
                    cursor: pointer;
                }   
            
        }

        .Page_Content_Center {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: '8BIT WONDER', sans-serif;
            font-size: small;
            color: #3e3e3e;
            border: 1px solid $outline-color;
            border-radius: 5px;
            width: 95%;
            height: 80%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            
            .Inner_Content {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: $inner-color;
                
            }
        }

        .Page_Content_Buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;
            display: flex;
            justify-content: space-between;
            width: 100%;

            ul { 
                list-style-type: none;
                margin: auto;
                padding: auto;
            
                li {
                    display: inline;
                    margin: 0 5px;
                }
            }

            button {
                background-color: transparent;
                border: none;
                color: #3e3e3e;
                font-family: '8BIT WONDER', sans-serif;
                font-size: small;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

.Landing_Nav {
    border-radius: 100%;
    width: $pokeball-ui-radius;
    height: $pokeball-ui-radius;
    background-color: white;
    position: fixed;
    z-index: 2;
    // top: 95vh;
    left: 50%;
    transform: translate(-50%, -50%);



        .Landing_Nav_Top {          // pokeball top
            background-color: red;
            width: $pokeball-ui-radius;
            height: 50%;
            border-top-left-radius: 510px;
            border-top-right-radius: 510px;
            border-bottom: 5px solid black;
            box-shadow: -15px -15px 45px 5px rgba(0,0,0,0.35);
        } 

        .Landing_Nav_Mid {          // pokeball middle
            position: absolute;
            left: 33%;
            top: 33%;
            border: 5px solid black;
            background-color: white;
            border-radius: 100%;
            width: 5vh;
            height: 5vh;
            // margin: auto;
            z-index: 3;

            @include pokeball_open_on_hover;
        }
        
        .pokeball_open {
            background-color: yellow;
        }

}



.Landing_Footer {
    background-color: whitesmoke;
    height: 10%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    // top: 95vh;
    border-top: 3px solid rgb(109, 109, 109);
    box-shadow: -1px -1px 45px 10px rgba(0,0,0,0.35);
    font-family: '8BIT WONDER', sans-serif;
    font-size: small;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {            
            display: inline;

            button  {
                background-color: transparent;
                border: none;
                color: #3e3e3e;
                font-family: '8BIT WONDER', sans-serif;
                font-size: small;
                text-decoration: underline;
                cursor: pointer;
            }
        }   
    }
}